.form-container {
    width: 400px; /* Set the width of the container */
    margin: 0 auto; /* Center align the container */
    padding: 20px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 12px 12px 12px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #023e8a;
    color: white; /* White text */
    padding: 10px 20px; /* Add some padding */
    border-radius: 8px; /* Add some border radius */
    cursor: pointer; /* Add pointer cursor on hover */
}

/* Hover effect */
input[type="submit"]:hover {
    background-color: #023e8a;
}